{% extends "template/app.html" %} {% block main %}
<div class="container margin_60">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div id="confirm">
                <h2>Features</h2>
                <p>Sit an meis aliquam, cetero inermis.</p>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-graph3"></i>Analytics Tools</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-share"></i>Social Integration</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-target"></i>Targeted Consumers</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-help2"></i>Awesome Support</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /bg_color_1 -->
{% endblock %}