{% extends "template/app.html" %} {% block main %}
<section class="hero_single version_company">
    <div class="wrapper">
        <div class="container">
            <h3>Heading<br>some more text goes here</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequatur necessitatibus laborum soluta excepturi magnam sed magni quam eveniet repellendus ea qui expedita mollitia molestiae, dolorem facere beatae eaque quae.</p>
        </div>
    </div>
</section>
<!-- /hero_single -->

<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-4">
                <div class="box_feat">
                    <i class="pe-7s-speaker"></i>
                    <h3><strong>30</strong> thousand<em>users seen every month</em></h3>
                    <p>Over 30 thousand search queties every month</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat">
                    <i class="pe-7s-flag"></i>
                    <h3><strong>5</strong> thousand<em>real users per month</em></h3>
                    <p>Over 5 thousand new parents</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box_feat">
                    <i class="pe-7s-rocket"></i>
                    <h3><strong>1</strong> thousand<em>have a great return</em></h3>
                    <p>Over 1 thousand schools increase their business</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="margin_60">
            <h5 class="text-center add_bottom_30">More than 1000 schools use {{ app.name }}!</h5>
            <div id="brands" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/1_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/2_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/3_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/4_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/5_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/6_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/7_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
                <div class="item">
                    <a href="#"><img src="{{ base_url() }}/assets/img/brands/8_c.jpg" alt=""></a>
                </div>
                <!-- /item -->
            </div>
            <!-- /carousel -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->

<div class="feat_blocks">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 p-0">
                <div class="block_1"><img src="{{ base_url() }}/assets/img/company_info_graphic_1.svg" alt="" class="img-fluid"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="block_2">
                    <h3>Increase conversions with the power of your customers</h3>
                    <p>Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.</p>
                    <a href="{{ path_for('pricing') }}" class="btn_1">View Pricing</a>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /feat_blocks -->

<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="main_title_2">
            <h2>Features</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-graph3"></i>Analytics Tools</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-share"></i>Social Integration</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-target"></i>Targeted Consumers</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box_feat_2">
                    <h3><i class="pe-7s-help2"></i>Awesome Support</h3>
                    <p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit euripidis.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->

<div class="call_section">
    <div class="container margin_80_55">
        <div class="row justify-content-center text-center">
            <div class="container">
                <h4>Get started now with {{ app.name }}...improve your reach.</h4>
                <a class="btn_1 small" href="">Join {{ app.name }} Now!</a>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /call_section_2 -->

{% endblock %}