{% extends "template/app.html" %} {% block main %}
<div class="reviews_summary">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <figure>
                        <img src="{{ base_url() }}/assets/img/avatar.jpg" alt="School Crest">
                    </figure>
                    <h1>School Name</h1>
                    <small class="d-block">School Type</small>
                    <span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00 - based on 234 reviews</em></span>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin_60_35">
    <div class="row">
        <div class="col-lg-4">
            <div class="box_general school_info">
                <h3>School Name</h3>
                <p>Illud scripserit mei an, sea te sonet partem contentiones. Eu quo corrumpit euripidis, enim sadipscing eos an. Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul
                    honestatis, an constituto deterruisset consectetuer pro.</p>
                <p><strong>Address</strong><br>493 How Street<br>Adenta - Accra</p>
                <p><strong>Website</strong><br><a href="#0">www.school.com</a></p>
                <p><strong>Email</strong><br><a href="#0">info@school.com</a></p>
                <p><strong>Telephone</strong><br>+233 302 128473</p>
                <p class="follow_school"><strong>Follow us</strong><br><a href="#0"><i class="social_facebook_circle"></i></a><a href="#0"><i class="social_twitter_circle"></i></a><a href="#0"><i class="social_googleplus_circle"></i></a><a href="#0"><i class="social_instagram_circle"></i></a></p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review_card">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    {% endblock %}